<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://teambuilding.mu/images/gallery/1_KanJam_Fun_Outdoor_Team_Bonding.jpg);">
  <div class="container">
    <br>
    <br>
    <br>
    <h1><strong>Events to Engage,
    </strong></h1>
    <br>
    <h1><strong>
    Connect and Inspire.
    </strong></h1>
    <br>
    <h1><strong>
    In person or virtual!</strong></h1>
    <br>
    <a class="btn btn-flat btn-banner" href="#"><strong>Book now</strong></a>
  </div>
</div>
<br>
<br>

<div class="containerhome">
  <h2><strong>Explore Activities by Category:</strong></h2>
  <br>
</div>

<div class="d-flex justify-content-around containerhome">
  <div class="card-home img-hover-zoom" style="width: 18rem; height: 18rem;">
      <%= image_tag "land.png" %>
    <div class="card-body card-body-home">
      <h5 class="card-title"><strong>Land Activities</strong></h5>
      <p class="card-text">Discover all the best land activities.</p>
    </div>
  </div>

  <div class="card-home img-hover-zoom" style="width: 18rem; height: 18rem;">
    <%= image_tag "sea.png" %>
    <div class="card-body card-body-home">
      <h5 class="card-title"><strong>Sea Activities</strong></h5>
      <p class="card-text">We offer some of the best water sports activities.</p>
    </div>
  </div>


  <div class="card-home img-hover-zoom" style="width: 18rem; height: 18rem;">
    <%= image_tag "indoor.jpg" %>
    <div class="card-body card-body-home">
      <h5 class="card-title"><strong>Indoor Activities</strong></h5>
      <p class="card-text">Browse through our fine selection of indoor activities</p>
    </div>
  </div>


  <div class="card-home img-hover-zoom" style="width: 18rem; height: 18rem;">
    <%= image_tag "vr.png" %>
    <div class="card-body card-body-home">
      <h5 class="card-title"><strong>Vr Activities</strong></h5>
      <p class="card-text">Try our brand new VR activities. You gonna get your mind blown!</p>
    </div>
  </div>
</div>





<%# <div class="cards">
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
    Breakfast
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/lunch.jpg)">
    Lunch
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/dinner.jpg)">
    Dinner
  </div>
</div>
<br>
<br> %>
<br>
<br>
<br>
<br>

<div class="bannercard" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(https://res.klook.com/image/upload/c_fill,w_1160,h_460,f_auto/w_80,x_15,y_15,g_south_west,l_Klook_water_br_trans_yhcmh3/activities/txtjklx3bjrewkzqmeob.webp);">
  <div class="container containerbanner">
  <br>
    <h1><strong>Not sure which
    </strong></h1>
    <h1><strong>activities to do?  Perfect!
    </strong></h1>
    <br>
    <a class="btn btn-flat btn-banner" href="#"><strong>Take a leap of faith!</strong></a>
  </div>
</div>


<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    This footer is made with <i class="fas fa-heart"></i> by the team Anubatir
  </div>
</div>
