.search-box {
  position: absolute;
  top: 15%;
  left: 15%;
  transform: transform(-50%, -50%);
  background: #2C3441;
  height: 40px;
  border-radius: 40px;
  padding: 10px;
}

.search-box:hover > input {
  width: 200px;
  padding: 0 10px;
}

.search-box:hover > icon{
  background: #536179;;
}

.icon:hover{
  transform: rotate(360deg) scale(0.8);
}

input {
  width: 0;
  border: none;
  outline: none;
  padding: 0;
  background: none;
  font-size: 1.1 rem;
  transition: 0.5s, ease;
  line-height: 48px;
  color: #fff;
}

.icon {
  color: #21EFCD;
  float: right;
  width: 40px;
  font-size: 1.3rem;
  height: 40px;
  border-radius: 50%;
  background: #2f3640;
  display: flex;
  justify-content: center;
  transition: 0.4s;
  cursor: pointer;
  text-decoration: none;
}
